{% load static %}
<header class="header ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'main:home' %}">
            <img src="{% static 'img/logo.png' %}" class="logo d-inline-block align-top" alt="logo"
                 loading="lazy"><span
                class="navbar-brand-name mb-0 h2">Mixer</span></a>
        <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
           aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {#                {% for item in main_header_menu %}#}
                {#                    <li class="{% if request.resolver_match.url_name == item.href %} active {% endif %} nav-item">#}
                {#                        <a class=" nav-link "#}
                {#                           href="{% url 'main:'|add:item.href %}">{{ item.name }}<span применение шаблонного фильтра add#}
                {#                                class="sr-only">(current)</span></a>#}
                {#                    </li>#}
                {#                {% endfor %}#}


                <li class="nav-item active">
                    <a class=" nav-link " href="{% url 'main:catalog' %}">Продукты<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Доставка <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:contacts' %}">Контакты</a>
                </li>
            </ul>
            <div class="user-icon">
                <div class="user-entrance">
                    {% if user.is_authenticated %}
                        <a class="name-user" href="{% url 'auth:update' %}" class="">
                            {{ user.first_name|default:'пользователь'|title }}
                        </a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a href="{% url 'auth:logout' %}" class="">
                            выход
                        </a>
                    {% else %}
                        <a href="{% url 'auth:login' %}" class="">
                            вход
                        </a>
                    {% endif %}
                </div>
                <!-- <i class="fa fa-user-o fa-2x" aria-hidden="true"></i>    -->
            </div>
            <span class="badge badge-pill badge-danger">0</span>
            <div class="heart"><i class="far fa-heart fa-2x"></i></div>
            <a href="#" class="basket">
                <span class="badge badge-pill badge-danger">
                    {% if basket %}
                        {{ basket.0.total_quantity }}
                    {% else %}
                        {{ '0' }}
                    {% endif %}
                </span>
            </a>
            <div class="basket"><a href="{% url 'basket:index' %}"><i class="fas fa-shopping-basket fa-2x"></i></a>
            </div>
        </div>
    </nav>
</header>
