{% extends 'adminapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block container %}
    <div class="user_delete">
        Уверены, что хотите {% if object.is_active %} удалить {% else %} восстановить {% endif %}
        <b>{{ object.username }}
            {% if object.first_name %}
                ({{ object.first_name|title }}
                {% if object.last_name %}
                    {{ object.last_name|title }}
                {% endif %})
            {% endif %}</b>?
        <form method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit"
                   value="{% if object.is_active %} удалить {% else %} восстановить {% endif %}">
        </form>
        <a href="{% url 'my_admin:users' %}" class="btn btn-success">
            отмена
        </a>
    </div>
{% endblock %}