{% extends 'authapp/base.html' %}
{% load static %}
{% load my_tags %}


{% block container %}
    <div class="user_update row justify-content-center">
        <div class="col">
            <div class="h2 text-center head">
                Профиль пользователя
            </div>
            <div class="user_avatar"><img src="{{ user.avatar|media_folder_users }}" alt=""></div>
            <form class=" form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {{ profile_form.as_p }}
                <br>
                <input class="btn btn-primary form-control" type="submit" value="Сохранить">
            </form>
            <a href="{% url 'main:home' %}"
               class="btn btn-primary form-control">
                На главную
            </a>
        </div>
    </div>
{% endblock %}