{% extends 'adminapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block container %}
    <div class="user_delete">
        Уверены, что хотите восстановить <b>{{ user_to_restore.username }}
        {% if user_to_restore.first_name %}
            ({{ user_to_restore.first_name|title }}
                {% if user_to_restore.last_name %}
                    {{ user_to_restore.last_name|title }}
                {% endif %})
        {% endif %}</b>?
        <form method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="восстановить">
        </form>
        <a href="{% url 'my_admin:index' %}" class="btn btn-success">
            отмена
        </a>
    </div>
{% endblock %}