{% extends 'adminapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block container %}
    <div class="user_delete">
        Уверены, что хотите {% if object.is_active %} удалить {% else %} восстановить {% endif %} продукт <b>{{ object.name }}</b>?
        <form method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="{% if object.is_active %} удалить {% else %} восстановить {% endif %}">
        </form>
        <a href="{% url 'adminapp:category_products' object.pk%}"
           class="btn btn-success">
            отмена
        </a>
    </div>
{% endblock %}