{% extends 'adminapp/base.html' %}
{% load static %}

{% block container %}
    <div class="product_detail">
        <div class="product_name">
            <strong>{{ object.category.name|capfirst }} / {{ object.name|capfirst }}</strong>
        </div>
        <div class="row justify-content-left">
            <div class="col-lg-2 leftside">
                <img src="/media/{{ object.image|default:'products_images/default.jpg' }}"
                     alt="{{ object.name }}">
            </div>
            <div class="col-lg-4 rightside">
                <div class="nameProduct">
                    <h4>{{ product.name }}</h4>
                </div>
                <div class="price">
                    <div class="numprice"><strong>Цена </strong>{{ object.price }}<i
                            class="currancy fas fa-ruble-sign"></i></div>
                    <div class="currancy"></div>
                    <div class="numprice"><strong>Количество на складе </strong>{{ object.quantity }}</div>
                    <div class="numprice"><strong>В каталоге </strong>{% if object.is_active %}да{% else %}
                        нет{% endif %}
                    </div>
                </div>
                <div class="button_edit">
                    <a href="{% url 'my_admin:product_update' object.pk %}" class="btn btn-primary">
                        Редактировать
                    </a>
                </div>
                <div class="">
                    {% if object.is_active %}
                        <a href="{% url 'my_admin:product_delete' object.pk %}" class="btn btn-danger">
                            Удалить
                        </a>
                    {% else %}
                        <a href="{% url 'my_admin:product_delete' object.pk %}" class="btn btn-success">
                            Восстановить
                        </a>
                    {% endif %}
                </div>
                <div class="button_back">
                    <a href="{% url 'my_admin:category_products' object.category.pk %}" class="btn btn-secondary">
                        Назад к продуктам
                    </a>
                </div>
            </div>
            <div class="desc-product-deal">
                <strong>Краткая информация</strong>
                <p>{{ object.short_desc }}</p>
                <strong>Подробная информация</strong>
                <p>{{ object.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}