{% extends 'adminapp/base.html' %}
{% load static %}
{% load my_tags %}

{% block container %}
    <div class="basket_list products_list">
        <a class="btn btn-danger new_product" href={% url 'adminapp:product_create' category.pk %}>
            новый продукт
        </a>
        {% for object in object_list %}
            <div class="basket_record product_record {% if not object.is_active %}not_active{% endif %}">
                <img class="rounded border"
                     src="{{ object.image|media_folder_products }}"
                     alt="{{ object.name }}">
                <span class="product_name">
                    {{ object.name|title }}
                </span>
                <span class="product_desc">
                    {{ object.short_desc|title }}
                </span>
                <div class="summary">
                    <span><b>цена</b></span>
                    <span>{{ object.price }} руб</span>
                    <span><b>количество</b></span>
                    <span>{{ object.quantity }}</span>
                </div>
                <div class="product_actions">
                    <a class="btn btn-outline-dark" href={% url 'adminapp:item_products' object.pk %}>
                        подробнее
                    </a>
                    <a class="btn btn-outline-dark" href={% url 'adminapp:product_update' object.pk %}>
                        редактировать
                    </a>
                    {% if object.is_active %}
                        <a href="{% url 'adminapp:product_delete' object.pk %}" class="btn btn-danger">
                            удалить
                        </a>
                    {% else %}
                        <a href="{% url 'adminapp:products_restore' object.pk %}" class="btn btn-success">
                            восстановить
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}