<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>{{ page_title|title }}</title>
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles/style.css">
    {% endblock %}
    {% block js %}
        <script src="https://kit.fontawesome.com/944df847d9.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    {% endblock %}
</head>
<body>
<div class=".container">
    {% block header %}
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="/static/img/logo.png" class="logo d-inline-block align-top" alt="logo" loading="lazy"><span
                    class="navbar-brand-name mb-0 h2">Mixer</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " href="/catalog/">Каталог<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Доставка <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts/">Контакты</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-1" type="search"
                           placeholder="Введите название..." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск товара</button>
                </form>
                <span class="badge badge-pill badge-danger">0</span>
                <div class="heart"><i class="far fa-heart"></i></div>
                <span class="badge badge-pill badge-danger">0</span>
                <div class="basket"><i class="fas fa-shopping-basket"></i></div>
            </div>
        </nav>
    </header>
    {% endblock %}
    {% block container %}
    {% endblock %}
    <div class="clr clearfix"></div>
</div>
{% block footer %}
    <div class="slider-footer">
        <div class="row footer justify-content-center">
            <div class="col-lg-4">
                <p class="copy">&copy;Магазин кондитерских ингредиентов MIXER 2020.</p>
            </div>
            <div class="social_links col-lg-4">
                <a href="" class="social_link"><i class="fab fa-facebook-square"></i> </a><a href=""
                                                                                             class="social_link"><i
                    class="fab fa-instagram"></i> </a><a href="" class="social_link"><i
                    class="fab fa-pinterest-square"></i></a>
            </div>
            <div class="col-lg-4">
                <p class="terms">Доставка по всей России</p>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>