{% extends 'mainapp/base.html' %}
{% block container %}
    <div class="row justify-content-center">
        <div class="col-lg-5 leftside"><img src="/static/img/posipka_shariky.jpg" alt="bigProductImg"></div>
        <div class="col-lg-5 rightside">
            <div class="nameProduct">
                <h2>Посыпка шарики розово-красные-белые</h2>
            </div>
            <div class="price">
                <div class="numprice">98<i class="currancy fas fa-ruble-sign"></i></div>
                <div class="currancy"></div>
            </div>
            <div class="button_order_deal clearfix"><a href="#" class="button_red_deal">Купить</a></div>
            <div class="desc-product-deal">
                <p>Декоративная кондитерская посыпка из розовых, красных и белых шариков применяется для
                    декорирования тортов, пирожных, булочек, печенья, кексов, куличей и других кондитерских
                    изделий в промышленных и домашних условиях.</p>
                <p><strong>Состав:</strong>сахар, крахмал кукурузный, Е-904, пищевые красители.</p>
            </div>
        </div>
    </div>
{% endblock %}


