{% extends 'mainapp/base.html' %}
{% load static %}
{% block container %}
    <div class="product-deal">
        <div class="row justify-content-center">
            <div class="col-lg-4 leftside"><img src="/media/{{ first_product.image }}" alt="{{ first_product.name }}"></div>
            <div class="col-lg-4 rightside">
                <div class="nameProduct">
                    <h2>{{ first_product.name }}</h2>
                </div>
                <div class="price">
                    <div class="numprice">{{ first_product.price }}<i class="currancy fas fa-ruble-sign"></i></div>
                    <div class="currancy"></div>
                </div>
                <div class="button_order_deal clearfix"><a href="#" class="button_red_deal">Купить</a></div>
                <div class="desc-product-deal">
                    <p>{{ first_product.description }}</p>
                    <p><strong>Состав:</strong>сахар, крахмал кукурузный, Е-904, пищевые красители.</p>
                </div>
            </div>
        </div>
    </div>       
{% endblock %}


