// $font-stack: Helvetica, sans-serif
$menu-height: 75px  
$header-background-color: #c0c0c0a8

.header
    background-color: $header-background-color
    height: $menu-height
    margin: 0 auto
    padding: 
        left: 90px
        right: 90px

.logo 
    width: 75px
    height: 75px
    float: left
    img
        width: 75px
        height: 75px

.navigation
    margin-left: 40px
    height: $menu-height

.nav-btn
    
    
.linkOfNav-btn
    display: inline-block
    color: #000
    text-decoration: none
    font-size: 20px

.icon-login
    float: left

    

